<div class="form">
  <%= form_for [@experiment_proposal, @experiment] do |f| %>
    <div>
      <p><%= f.label :title %></p>
      <p><%= f.text_field :title, size: 100 %></p>
    </div>
    <div>
      <%= f.hidden_field :experiment_proposal_id, :value => @experiment_proposal.id %>
      <%= f.submit %>
    </div>
  <% end %>
</div>
