<h3>Add a Procedure</h3>

<%if @errors%>
  <ul>
    <%@errors.each do |error|%>
      <li><%=error%></li>
    <%end%>
  </ul>
<%end%>

<%= form_for [@experiment, @procedure], :url => "/experiments/#{@experiment.id}/procedures" do |f| %>
  <div>
    <p><%= f.label :step %></p>
    <p><%= f.select :step, (@unused_steps) %></p>
  </div>
  <div>
    <p><%= f.label :body %></p>
    <p><%= f.text_area :body, cols: 100, rows: 3 %></p>
  </div>
  <div>
    <%= f.hidden_field :experiment_id, :value => @experiment.id %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
